.idea/
*.zip
certifi
certifi-2017.7.27.1.dist-info
chardet
chardet-3.0.4.dist-info
requests
requests-2.18.4.dist-info
idna
idna-2.6.dist-info
urllib3
urllib3-1.22.dist-info
wikipedia
wikipedia-1.4.0-py3.6.egg-info
doco
doco-0.0.3-py3.6.egg-info
examples
simplejson
simplejson-3.11.1-py3.6.egg-info
beautifulsoup4-4.6.0.dist-info
bs4
.env
.DS_Store
response.json
